body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-color: #222;
    background-color: rgba(255,255,255,0.5);*/
    background-image: url("https://source.unsplash.com/1600x900/?fruit");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background: rgba(186, 157, 231, 0.4);
    color: white;
    padding: 5%;
    border-radius: 7%;
    width: 100%;
    max-width: 880px;
    gap: 30px;
}

.today {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    align-items: center;
}

#searchBtn {
    margin: 5px;
    border-radius: 50%;
    border: none;
    height: 36px;
    width: 36px;
    padding: 1%;
    color: white;
    background-color: rgba(244, 235, 251, 0.4);
    font-size: 90%;
}

button:hover {
    cursor: pointer;
}

#searchBtn:hover {
    background-color: rgba(221, 199, 239, 0.4);
    transition: 0.3s ease-in-out;
}

.searchbar {
    border: none;
    height: 36px;
    border-radius: 18px;
    width: 200px;
    color: white;
    background-color: rgba(244, 235, 251, 0.4);
    padding: 0 0.5cm;
    font-family: inherit;
    font-size: 90%;
    box-sizing: border-box;
}

.description {
    text-transform: capitalize;
    position: absolute;
    top: 80%;
}

.icon {
    width: 130px;
}

.details {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    margin-bottom: 10%;
}

.weather {
    display: flex;
    flex-direction: column;
}

.city {
    margin-bottom: 0;
}

.datetime {
    margin-top: 0;
    margin-bottom: 0;
}


.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: center;
}


.range {
    display: flex;
    justify-content: center;
}

.current_temp {
    margin-left: 80px;
    font-size: 200px;
}

.range {
    letter-spacing: 0.3em;
}

#forecast {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 13px;
    /* display: none; */
}

#hour-forecast {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 13px;
    display: none;
}

.days,
.hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(800px/5);
    min-width: calc(800px/5);
    height: 200px;
    gap: 0;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 0px;
    transition: 0.7s;
}

.days:hover {
    transform: scale(1.1);
}

.hours:hover {
    transform: scale(1.1);
}

.menu {
    position: relative;
    width: 300px;
}

#menuBtn {
    position: absolute;
    top: 0;
    right: 0;
}

.period {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0;
}

#dailyBtn,
#hourlyBtn,
#menuBtn {
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
    margin: 0;
}

#dailyBtn {
    font-size: 25px;
    border-bottom: 3px solid white;
    transition: all 0.7s ease;
}

#hourlyBtn {
    color: rgb(255, 255, 255, 0.7);
    transition: all 0.7s ease;
}

::placeholder{
    color: white;
}